# -------------------------------------------------
# OS files
# -------------------------------------------------
.DS_Store
Thumbs.db

# -------------------------------------------------
# IDE / Editor
# -------------------------------------------------
.idea/
.vscode/
*.iml

# -------------------------------------------------
# Composer
# -------------------------------------------------
/vendor/
composer.lock

# -------------------------------------------------
# PHPUnit / Tests
# -------------------------------------------------
.phpunit.result.cache
/.phpunit.cache

# -------------------------------------------------
# Logs / Cache
# -------------------------------------------------
*.log

# -------------------------------------------------
# Build / Coverage
# -------------------------------------------------
/coverage/

# -------------------------------------------------
# Temporary files
# -------------------------------------------------
*.tmp
*.bak
